<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Listado de aspirantes</h2>
<span th:text="${error}"></span>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Foto</th>
        <th>Nº Votos</th>
        <th></th>
    </tr>
    <tr th:each="aspirante : ${aspirantes}">
        <td th:text="${aspirante.nombre}"></td>
        <td th:text="${aspirante.apellidos}"></td>
        <td>
            <img th:src="@{/{imagen}(imagen=${aspirante.foto})}" style="height: 100px;" >
        </td>
        <td th:text="${aspirante.getVotos().size()}"></td>
        <td><a th:href="@{aspirantes/addVoto/{id}(id=${aspirante.id})}" >Votar</a></td>
    </tr>
</table>
<th:block sec:authorize="isAuthenticated()">
    <a href="/aspirantes/add">Insertar nuevo aspirante</a>
</th:block>
</body>
</html>